*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

.otp-container{

    width:100%;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#0047AB,#00BFFF);

}

.otp-card{

    width:400px;
    background:white;

    padding:40px;

    border-radius:10px;

    box-shadow:0 0 20px rgba(0,0,0,0.2);

    text-align:center;

}

.otp-card h2{

    color:#0047AB;
    margin-bottom:15px;

}

.otp-card p{

    margin-bottom:25px;
    color:#555;

}

.otp-card input{

    width:100%;

    padding:12px;

    font-size:18px;

    border:1px solid #ccc;

    border-radius:5px;

    margin-bottom:20px;

}

.otp-card button{

    width:100%;

    padding:12px;

    border:none;

    background:#0047AB;

    color:white;

    font-size:18px;

    border-radius:5px;

    cursor:pointer;

}

.otp-card button:hover{

    background:#003080;

}

.timer{
    margin-top:20px;
    color:red;
    font-weight:bold;
}

.resend-btn{
    margin-top:15px;
    background:#28a745 !important;
}

.resend-btn:hover{
    background:#218838 !important;
}